{% extends "base.html" %}
{% load humanize %}

{% block title %}
EVE Characters
{% endblock %}

{% block breadcrumb %}
EVE Characters
{% endblock %}

<!-- Main content -->
{% block content %}

<div class="card card-primary">
    <div class="card-body">
        <table class="datatable table table-bordered table-hover responsive">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-2">Character</th>
                    <th class="col-md-2">Primary Character</th>
                    <th class="col-md-2">Corporation</th>
                    <th class="col-md-2">Alliance</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}
<!-- /.content -->

{% block scripts %}
<script>
    $('.datatable').DataTable({
        'paging': true,
        'lengthChange': true,
        "columnDefs": [
            {
                "targets": 0,
                "orderable": false
            },
            {
                "targets": 2,
                "orderable": false,
            }
        ],
        'searching': true,
        'ordering': true,
        'order': [[1, 'asc']],
        'pageLength': 5,
        "autoWidth": false,
        'serverSide': true,
        "ajax": "{% url 'django-eveonline-connector-api-characters' %}"
    })
</script>
{% endblock %}