{% extends "django_eveonline_connector/adminlte/characters/view_character.html" %}
{% load static %}

{% block title %}
Contacts
{% endblock %}

{% block tab_content %}
<div class="card card-info card-outline">
    <div class="card-header">
        <h3>Contact List</h3>
    </div>
    <div class="card-body">
        <table class="datatable table table-bordered table-hover text-center">
            <thead>
                <th>Name</th>
                <th>Type</th>
                <th>Standing</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $.fn.DataTable.ext.pager.numbers_length = 5;
    $(function () {
        $('table').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'order': [[1, 'asc']],
            'pageLength': 5,
            "autoWidth": false,
            'serverSide': true,
            "ajax": "{% url 'django-eveonline-connector-api-contacts' %}?external_id={{character.external_id}}"
        })
    })
</script>
<script>
    $(document).ready(function () {
        $('#contacts').addClass('active');
    });
</script>
<script src="{% static 'django_eveonline_connector/js/entity_modal.js' %}"></script>
{% endblock %}