{% extends "django_eveonline_connector/adminlte/characters/view_character.html" %}

{% block title %}
Transactions
{% endblock %}

{% block tab_content %}
<div class="card">
    <div class="card-body">
        <table class="datatable table table-bordered table-hover">
            <thead>
                <th>Client</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Unit Price</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $.fn.DataTable.ext.pager.numbers_length = 5;
    $(function () {
        $('table').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'order': [[1, 'asc']],
            'pageLength': 5,
            "autoWidth": false,
            'serverSide': true,
            "ajax": "{% url 'django-eveonline-connector-api-transactions' %}?external_id={{character.external_id}}"
        })
    })
</script>
<script>
    $(document).ready(function () {
        $('#transactions').addClass('active');
    });
</script>

{% endblock %}