{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block title %}
View Character
{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'django-eveonline-connector-characters-view' %}">Characters</a></li>
{% endblock %}

{% block breadcrumb  %}
View Character
{% endblock %}


{% block content %}
{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="wrap-input100 alert alert-danger m-b-10">
    <span class="badge badge-secondary">{{field.label}}</span>
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% endif %}
<div class="row">
    <div class="col-md-3">

        {% include 'django_eveonline_connector/adminlte/characters/components/character_card.html' %}

    </div>

    <!-- /.col -->
    <div class="col-md-9">
        {% include 'django_eveonline_connector/adminlte/characters/components/character_nav.html' %}
        <div class="tab-content">
            <div class="tab-pane active">
                {% block tab_content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
{% include 'django_eveonline_connector/adminlte/snippets/view_entity_modal.html' %}
{% endblock %}