{% extends "django_eveonline_connector/adminlte/characters/view_character.html" %}
{% load static %}
{% block title %}
Journal
{% endblock %}

{% block tab_content %}
<div class="card card-info card-outline">
    <div class="card-header">
        <h3>Journal Summary</h3>
    </div>
    <div class="card-body">
        <table id="journalSummary" class="datatable table table-bordered table-hover text-center">
            <thead>
                <th>Entity</th>
                <th>Entries</th>
                <th>Most Common</th>

            </thead>
            <tbody>
                {% for journal_data in journal_summary %}
                <tr {% if journal_data.is_alt %} class="text-success " {% endif %}>
                    <td>
                        <a onclick="setModalID({{journal_data.external_id}})" href="#" data-toggle="modal"
                            data-target="#entityModal">{{journal_data.name}}</a>
                        {% if journal_data.is_alt %}
                        <i class="fa fa-check" aria-hidden="true" title="Confirmed Alt"></i>
                        {% endif %}
                    </td>
                    <td>{{journal_data.count}}</td>
                    <td>{{journal_data.most_common}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="card card-warning card-outline">
    <div class="card-header">
        <h3>Raw Journal Entries</h3>
    </div>
    <div class="card-body">
        <table id="rawJournalTable" class="datatable table table-bordered table-hover text-center">
            <thead>
                <th>Date</th>
                <th>Type</th>
                <th>First Party</th>
                <th>Second Party</th>
                <th>Amount</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $.fn.DataTable.ext.pager.numbers_length = 5;
    $(function () {
        $('#journalSummary').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'order': [[1, 'desc']],
            'pageLength': 5,
            "autoWidth": false,
        })
    })
    $(function () {
        $('#rawJournalTable').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'order': [[1, 'asc']],
            'pageLength': 5,
            "autoWidth": false,
            'serverSide': true,
            "ajax": "{% url 'django-eveonline-connector-api-journal' %}?external_id={{character.external_id}}"
        })
    })
</script>
<script>
    $(document).ready(function () {
        $('#journal').addClass('active');
    });
</script>
<script src="{% static 'django_eveonline_connector/js/entity_modal.js' %}"></script>
{% endblock %}