
<table class="table table-bordered table-hover">
    <thead>
        <tr>

            <th>Character</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for token in request.user.eve_tokens.all %}
        <tr>

            <td class="col-lg-6 col-xs-6">
                <div class="pull-left" style="padding-right: 8px;">
                    <img width="112px" style="text-align: center; border: 3px solid #000; padding: 0;"
                        src="https://imageserver.eveonline.com/Character/{{token.evecharacter.external_id}}_128.jpg" />
                </div>
                <div>
                    {% if 'django_eveonline_entity_extensions' not in INSTALLED_APPS %}
                    <b class="hidden-xs">{{token.evecharacter.name}}</b>
                    {% else %}
                    <b class="hidden-xs"><a href="{% url 'django-eveonline-entity-extensions-view-character' token.evecharacter.external_id %}">{{token.evecharacter.name}}</a></b>
                    {% endif %}
                    <br>
                    {% if token.evecharacter.corporation %}
                    <i class="hidden-xs">{{token.evecharacter.corporation.name}}</i>
                    {% else %}
                    <i class="hidden-xs">Unknown Corporation</i>
                    {% endif %}
                    {% if token.evecharacter.corporation.alliance %}
                    <br>
                    <i class="hidden-xs">{{token.evecharacter.corporation.alliance.name}}</i>
                    {% endif %}
                </div>
            </td>

            <td class="col-lg-6 col-xs-6">
                <div class=" col-lg-12" >
                    <button onclick="location.href='#'"  class="btn-block btn btn-success btn-fill">Update Token</button>
                    <button onclick="location.href='#'"  class="btn-block btn btn-warning btn-fill">Refresh
                        Character</button>
                    <button onclick="location.href='#'"  class="btn-block btn btn-danger btn-fill">Delete
                        Token</button>
                </div>
            </td>
        </tr>
        {% endfor %}
        <!-- Bottom Divider -->
        
    </tbody>
</table>