include LICENSE
include README.md
recursive-include django_eveonline_connector/static *
recursive-include django_eveonline_connector/fixtures *
recursive-include django_eveonline_connector/templates *