   <!-- Profile Image -->
   <div class="card card-primary">
    <div class="card-body card-profile">
        <div class="text-center">
            <img class="profile-user-img img-responsive img-circle"
            src="https://imageserver.eveonline.com/Corporation/{{corporation.external_id}}_128.jpg"
            alt="Corporation Logo">
        </div>
        
        <h3 class="profile-username text-center">{{corporation.name }}</h3>
        <h5 class="text-muted text-center">{{corporation.alliance}} </h5>
        <br>

        <a class="btn btn-success btn-block"
            href="{% url 'django-eveonline-connector-refresh-corporation' corporation.external_id %}">Refresh
            Corporation</a>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->