{% extends "base.html" %}
{% load humanize %}

{% block title %}
Corporations
{% endblock %}

{% block breadcrumb %}
Corporations
{% endblock %}


{% block content %}
{% if corporations.count > 0 %}
    {% include 'django_eveonline_connector/adminlte/corporations/components/corporation_list_table_card.html' %}
{% else %}
    {% include 'django_eveonline_connector/adminlte/corporations/components/corporation_list_instructions_card.html' %}
{% endif %}
{% endblock %}

{% block scripts %}
<script>
$(function () {
    $('table').DataTable({
      'paging'      : false,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
 })
</script>
{% endblock %}