{% extends "django_eveonline_connector/adminlte/corporations/view_corporation.html" %}

{% block title %}
Corporation Roster
{% endblock %}

{% block tab_content %}
<div class="card card-success card-outline">
    <div class="card-header">
        <h3 class="card-title">Character Roster</h3>
    </div>
    <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead>
                    <th>Character</th>
                    <th>Alternate Characters</th>
                </thead>
                <tbody>
                    {% for character in characters %}
                    <tr>
                        <td>
                            <img src="https://imageserver.eveonline.com/Character/{{character.character.external_id}}_64.jpg" class="img-circle" alt="Avatar"
                                width="32px" title="{{character.character.name}}">
                            <a href="{% url 'django-eveonline-connector-view-character' character.character.external_id %}">{{character.character.name}}</a>
                        </td>
                        <td>
                            {% for character in character.get_related_characters %}
                            <a href="{% url 'django-eveonline-connector-view-character' character.external_id %}">
                            <img src="https://imageserver.eveonline.com/Character/{{character.external_id}}_64.jpg" class="img-circle" alt="Avatar" width="32px" title="{{character.name}}">
                            </a>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>

<div class="card card-danger card-outline">
    <div class="card-header">
        <h3 class="card-title">Token Issues</h3>
    </div>
    <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead>
                    <th>Character</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    {% for character in unauthorized_characters %}
                    <tr>
                        <td>
                            <img src="https://imageserver.eveonline.com/Character/{{character.external_id}}_64.jpg" class="img-circle" alt="Avatar"
                                width="32px" title="{{character.name}}">
                            {{character.name}}
                        </td>
                        {% if character.token and not character.token.valid %}
                        <td>Invalid Token</td>
                        {% elif not character.token %}
                        <td>Missing Token</td>
                        {% else %}
                        <td>Unknown Reason</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $.fn.DataTable.ext.pager.numbers_length = 5;
    $(function () {
        $('table').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'order': [[1, 'asc']],
            'pageLength': 5,
            "autoWidth": false,
        })
    })
</script>
<script>
    $(document).ready(function () {
        $('#roster').addClass('active');
    });
</script>

{% endblock %}